body {
	margin: 0px;
}

.clr {
	clear: left; clear: right;
}
.selected {
	background-color: #04A0D2 !important;
}

.hide {
	display: none;
}
.nav-main {
	background-color: #02B3E2;
	height: 40px;
}

.nav_options {
	float: right;
	font-size: 18px;
	padding: 0 10px;
	color: #fff;
	line-height: 40px;
	cursor: pointer;
}

.nav_options:hover {
	color: #F4F4F4;
}

.container {
	border: 1px solid #ADADB2;
	margin: 20px 10%;
	border-radius: 5px;
}

.post {
	padding: 10px; 
	border-bottom: 1px solid #ADADB2;
}

.post:last-child {
	border: none;
}

.post_title {
	font-size: 23px;
	color: #02B3E2;
	float: left;
}

.post:hover {
	background-color: #F4F4F4;
}

.post_close {
	float: right;
    color: #ADADAD;
    /*height: 20px;
    width: 20px;*/
    cursor: pointer;
}

.post_close:hover {
	color: #737373; z-index: 1;
}

.post_content {
	clear: left;
}

.postExpanded {
	padding: 10px;
}

.postExpanded_title {
	font-size: 28px;
	color: #02B3E2;
	float: left;
}

.postExpanded_userDetails {
	float: right;
}

.postExpanded_name {
	font-size: 18px;
}

.postExpanded_city {
	font-size: 12px;
}

.postExpanded_content {
	padding: 10px 0; color: #ADADAD;
}

.postExpanded_commentsBlock {
	margin: 10px 0; border-top: 1px solid #ADADAD;
	padding: 10px 0;
}

.postExpanded_commentsBlock_name {
	color: #4A4A4A; float: left;
	margin-right: 10px;
}

.postExpanded_commentsBlock_body {
	color: #7B809A;
}

.btn-postExpanded_displayToggle {
	border: 1px solid #ADADAD; float: right;
    border-radius: 5px; color: #636363;
    padding: 5px; cursor: pointer;
    display: inline-block; font-size: 14px;
    width: 100px; text-align: center;
}

.btn-postExpanded_displayToggle:hover {
    color: #fff; background-color: #636363;
}